<!DOCTYPE html>
<head>
    <title> Practica Node.js </title>
    <meta charset = 'utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Práctica Node.js</h1>
        <p>Jeremies Julian Alfaro Hernandez A01282692</p>
    </div>
    <div class = "container">
        <img src="sky.jpg" class = "img-circle">
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <div id ="app">
        <p>{{DataB}}</p>
        <input v-model="DataB">
        <span v-if="DataB == 'DB'">
            <button @click="openDB()">"AbrirDB"</button>
        </span>        
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    DataB: 'X'
                }
            },
        }).mount('#app')
    </script>
    <script src="script-1.js"></script>
</body>